<app-navbar></app-navbar>

<div class="jumbotron">
  <h1>Todas las aplicaiones:</h1>
  <hr class="my-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Programa:</th>
        <th scope="col">Usuario:</th>
        <th scope="col">Fecha:</th>
        <th scope="col">Estado:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Vivienda nueva</th>
        <td>Luis Alfredo Rangel</td>
        <td>25/04/2021</td>
        <td>Pendiente</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Construccion en sitio propio</th>
        <td>Juan Pablo Caro</td>
        <td>25/04/2021</td>
        <td>Aprobado</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Vivienda nueva</th>
        <td>Maria Jose Serrano</td>
        <td>25/04/2021</td>
        <td>Rechazado</td>
      </tr>
      <tr class="table-warning">
        <th scope="row">Vivienda nueva</th>
        <td>Alejandra Mazuera</td>
        <td>25/04/2021</td>
        <td>En proceso</td>
      </tr>
    </tbody>
</table> <br>
<div>
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
</div>


