<app-header></app-header>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="card text-white bg-success mb-3" style="max-width: 200rem;">
            <div class="card-header">Programa:</div>
            <div class="card-body">
                <h4 class="card-title">Aplicacion al programa:</h4>
                <div class="row">
                    <div class="col-lg-12">
                            <div class="card-body">
                              <h4 class="card-title">Puede arrastrar aqui sus documentos:</h4>
                            </div>
                            <div class="card border-primary mb-3" style="max-width: 200rem;">
                                <div class="card-body">
                                  <br><br><br><br><br><br><br><br>
                                </div>
                              </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">CARGAR LOS DOCUMETOS</button>
      </div>
    </div>
</div>
